.Title {
  font-size: 30px;
  font-weight: bolder;
  margin: 16 px;
  font-family: "Nunito Sans", sans-serif;
}

#exhibition-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.exhibition-card {
  width: 500px;
  height: 400px;
  background-color: #00664f;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.exhibition-link {
  color: inherit;
  text-decoration: none;
}

.exhibition-img {
  width: 100%;
}

.exhibition-contents {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.name {
  font-size: 25px;
  font-family: "Nunito Sans", sans-serif;
  margin: 10px;
  color: white;
}

.exp {
  font-size: 15px;
  font-family: "Nunito Sans", sans-serif;
  margin-left: 10px;
  color: white;
}
