* {
  margin: 0;
  padding: 0;
}
/* body 에(body라고 쓰면, *는 모두) 옆에 테두리 margin 지워줌*/

#header {
  height: 200px;
  background-color: red;
  /*border-bottom: 1px solid lightgray;*/
}

#header-area {
  width: 1024px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.logo-img {
  width: 350px;
  height: 100px;
  padding: 10px;
}

#menu {
  width: 100%;
  height: 30%;
  background-color: green;
}

#body {
  height: 1024px;
  background-color: blue;
  width: 1024px;
  margin: 0 auto;
  /* 부모로부터 가운데 정렬됨 */
  padding-bottom: 24px;
}

#banner {
  height: 500px;
  background-color: greenyellow;
}

.banner-img {
  height: 100%;
}

#banner > img {
  width: 100%;
}

#body > h1 {
  margin: 16px;
  font-family: "Nunito Sans", sans-serif;
}

#exhibition-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exhibition-card {
  width: 500px;
  height: 400px;
  background-color: purple;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.exhibition-img {
  width: 100%;
}

.exhibition-contents {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.exhibition-name {
  font-size: 25px;
  font-family: "Nunito Sans", sans-serif;
}

.exhibition-artist {
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
}

.exhibition-exp {
  font-size: 15px;
  font-family: "Nunito Sans", sans-serif;
}

#footer {
  height: 64px;
  background-color: yellow;
}
