/*
  .Title {
  font-size: 30px;
  font-weight: bold;
  margin: 16 px;
  font-family: "Poppins", sans-serif;
}
*/

#exhibition-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
}

.exhibition-card {
  width: 100%;
  height: 300px;
  background-color: white;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
}

.exhibition-link {
  color: inherit;
  text-decoration: none;
}

.exhibition-img {
  height: 280px;
  width: 500px;
}

.exhibition-contents {
  width: 520px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 8px;
}

.name {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  padding: 5px;
  color: black;
}

.exp {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  padding: 10px;
  color: black;
}
