* {
  margin: 0;
  padding: 0;
  line-height: normal;
}
/* body 에(body라고 쓰면, *는 모두) 옆에 테두리 margin 지워줌*/

html,
body,
#root,
#root > div {
  height: 100%;
}

#header {
  height: 170px;
  background-color: white;
  /*border-bottom: 1px solid lightgray;*/
}

#body {
  height: 500%;
  background-color: white;
  width: 1024px;
  margin: 0 auto;
  /* 부모로부터 가운데 정렬됨 */
  padding-bottom: 24px;
}

#footer {
  height: 64px;
  background-color: white;
}

#header-area {
  width: 1024px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  padding-top: 30px;
}

#header-area img {
  width: 250px;
  height: 150px;
}
